/* ! Base Utility CSS - text-decoration
## Homepage: https://github.com/salernogiuseppe/base-utility-css
## License:  GPL-3.0 (GNU General Public License v3.0)
## Version: v1.0.0
*/
.txt-dec-reset {text-decoration: inherit;}
.txt-dec-none {text-decoration: none;}
.txt-dec-underline {text-decoration: underline;}
.txt-dec-line {text-decoration: line-through;}
.txt-dec-reset-hov:hover {text-decoration: inherit;}
.txt-dec-none-hov:hover {text-decoration: none;}
.txt-dec-underline-hov:hover {text-decoration: underline;}
.txt-dec-line-hov:hover {text-decoration: line-through;}