/* ! Base Utility CSS - line-height
## Homepage: https://github.com/salernogiuseppe/base-utility-css
## License:  GPL-3.0 (GNU General Public License v3.0)
## Version: v1.0.0
*/

/* ##########
line height */
.ln-10 { line-height: 10px;}
.ln-11 { line-height: 11px;}
.ln-12 { line-height: 12px;}
.ln-13 { line-height: 13px;}
.ln-14 { line-height: 14px;}
.ln-15 { line-height: 15px;}
.ln-16 { line-height: 16px;}
.ln-17 { line-height: 17px;}
.ln-18 { line-height: 18px;}
.ln-19 { line-height: 19px;}
.ln-20 { line-height: 20px;}
.ln-21 { line-height: 21px;}
.ln-22 { line-height: 22px;}
.ln-23 { line-height: 23px;}
.ln-24 { line-height: 24px;}
.ln-25 { line-height: 25px;}
.ln-26 { line-height: 26px;}
.ln-27 { line-height: 27px;}
.ln-28 { line-height: 28px;}
.ln-29 { line-height: 29px;}
.ln-30 { line-height: 30px;}
.ln-31 { line-height: 31px;}
.ln-32 { line-height: 32px;}
.ln-33 { line-height: 33px;}
.ln-34 { line-height: 34px;}
.ln-35 { line-height: 35px;}
.ln-36 { line-height: 36px;}
.ln-37 { line-height: 37px;}
.ln-38 { line-height: 38px;}
.ln-39 { line-height: 39px;}
.ln-40 { line-height: 40px;}